{%- include utils/var/translate_lang.html -%}


<div role="main" id="main">
	<div class="main-content">
		<section class="container-wide homepage-papers">
			<h1 class="home-title">{{ translate_lang.about.info }}</h1>
			{% include page/content.a.html %}
			{% include page/content.b.html %}
			{% include page/content.c.html %}
			{% include page/content.us.html %}
			{% include page/content.us-envelope.html %}
			{% include page/content.interl-envelope.html %}
			{% include page/content.photography.html %}
			{% include page/content.newspaper.html %}
			{% include page/content.books.html %}
			{% include page/content.business-card.html %}
			{% include page/content.raw.html%}
			{% include page/content.billboard.html%}
			{% include page/content.french.html %}
			{% include page/content.japanese.html %}
			{% include page/content.canadian.html %}
			{% include page/content.colombian.html %}
			{% include page/content.chinese.html %}
			{% include page/content.imperial.html %}
			{% include page/content.traditional-british.html %}
			{% include page/content.transitional.html %}
		</section>
		{%- include moudle/advertising.carbonad.html -%}
	</div>
</div>