<div class="main-padding">
	<h2 class="underlined capitalize link-title">
		<a href="{{ '/a' | prepend: lang_baseurl }}">{{ translate_lang.paper_fullname.a }}</a>
	</h2>
</div>
<div class="scroll-container">
	<div class="paper-container home-container">
		{%- case translate_lang.lang -%}
			{%- when '中文' -%}
				{%- assign pfilter = 'a 系列'-%}
			{%- when 'ENG' -%}
				{%- assign pfilter = 'a'-%}	
		{%- endcase -%}
		{%- include moudle/control.paper.type.filter.html -%}
		{%- assign current_paperurl = '/a' -%}
		{%- include moudle/control.viewall.html -%}
	</div>
</div>