<div class="main-padding">
	<h2 class="underlined capitalize link-title">
		<a href="{{ '/books' | prepend: lang_baseurl }}">{{ translate_lang.paper_fullname.books }}</a>
	</h2>
</div>
<div class="scroll-container">
	<div class="paper-container home-container">
		{%- case translate_lang.lang -%}
		{%- when '中文' -%}
		{%- assign pfilter = '书籍'-%}
		{%- when 'ENG' -%}
		{%- assign pfilter = 'books'-%}
		{%- endcase -%}
		{%- include moudle/control.paper.type.filter.html -%}
		{%- assign current_paperurl = '/a' -%}
		{%- include moudle/control.viewall.html -%}
	</div>
</div>