<svg version="1.1" class="paper-svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 464.88 328.82">
	<title>C Paper Sizes</title>
	<g id="frames">
		<rect class="cls-1" x="232.44" y="2.83" width="229.61" height="323.15" />
		<rect class="cls-1" x="70.87" y="-65.2" width="323.15" height="459.21"
			transform="translate(68.03 396.85) rotate(-90)" />
		<rect class="cls-1" x="232.44" y="164.41" width="114.8" height="161.57" />
		<rect class="cls-1" x="347.24" y="164.41" width="114.8" height="161.57" />
		<rect class="cls-1" x="347.24" y="245.2" width="57.4" height="80.79" />
		<rect class="cls-1" x="404.65" y="245.2" width="57.4" height="80.79" />
		<rect class="cls-1" x="413.15" y="277.09" width="40.39" height="57.4"
			transform="translate(739.13 -127.56) rotate(90)" />
		<rect class="cls-1" x="437.6" y="301.54" width="20.2" height="28.7"
			transform="translate(763.58 -131.81) rotate(90)" />
		<rect class="cls-1" x="437.6" y="281.34" width="20.2" height="28.7"
			transform="translate(743.39 -152.01) rotate(90)" />
	</g>
	<g id="text">
		<text class="cls-2" transform="translate(9.68 25.44)">C1</text>
		<text class="cls-2" transform="translate(237.44 25.44)">C2</text>
		<text class="cls-2" transform="translate(237.44 185.96)">C3</text>
		<text class="cls-2" transform="translate(351.32 185.96)">C4</text>
		<text class="cls-2" transform="translate(351.32 265.59)">C5</text>
		<text class="cls-2" transform="translate(409.43 265.59)">C6</text>
	</g>
</svg>