<svg version="1.1" class="paper-svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 464.9 328.8">
	<title>Book Paper Sizes</title>
	<g id="frames">
		<rect class="cls-1" x="82.93" y="-77.26" width="299.02" height="459.21"
			transform="translate(80.1 384.79) rotate(-90)" />
		<rect class="cls-1" x="197.73" y="37.54" width="299.02" height="229.61"
			transform="translate(194.9 499.59) rotate(-90)" />
		<rect class="cls-1" x="272.49" y="112.3" width="149.51" height="229.61"
			transform="translate(120.14 574.35) rotate(-90)" />
		<rect class="cls-1" x="329.89" y="169.7" width="149.51" height="114.8"
			transform="translate(177.54 631.75) rotate(-90)" />
		<rect class="cls-1" x="367.27" y="207.08" width="74.76" height="114.8"
			transform="translate(140.17 669.12) rotate(-90)" />
		<rect class="cls-1" x="395.97" y="235.78" width="74.76" height="57.4"
			transform="translate(168.87 697.83) rotate(-90)" />
		<rect class="cls-1" x="414.66" y="254.47" width="37.38" height="57.4"
			transform="translate(150.18 716.51) rotate(-90)" />
	</g>
	<g id="text">
		<text class="cls-2" transform="translate(9.68 25.44)"> Quarto (4to) </text>
		<text class="cls-2" transform="translate(237.44 25.44)"> Octavo (8vo) </text>
		<text class="cls-2" transform="translate(237.44 172.96)"> 16mo </text>
		<text class="cls-2" transform="translate(351.32 172.96)"> 32mo </text>
		<text class="cls-4" transform="translate(351.32 247.59)"> 64mo </text>
	</g>
</svg>