<div class="half-col table-col">
	<blockquote class="twitter-tweet">
		<p lang="en" dir="ltr">Every print designer, you’ve been waiting for this handy tool! 😎
			<a href="https://t.co/d8LKp6s5KS">https://t.co/d8LKp6s5KS</a></p>&mdash; ᴛᴏʙɪᴀs ᴠᴀɴ sᴄʜɴᴇɪᴅᴇʀ
		(@vanschneider) <a href="https://twitter.com/vanschneider/status/851473545976836096">April 10, 2017</a>
	</blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	<blockquote class="twitter-tweet">
		<p lang="en" dir="ltr">Yes yes yes.
			<a href="https://t.co/6bf5919m5v">https://t.co/6bf5919m5v</a>
		</p>&mdash;
		Christopher Doyle (@CD_and_Co)
		<a href="https://twitter.com/CD_and_Co/status/884958520155660288">July 12,2017</a>
	</blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	<blockquote class="twitter-tweet">
		<p lang="en" dir="ltr">Finally, something really useful on the internet
			<a href="https://t.co/B7mM4632IU">https://t.co/B7mM4632IU</a>
			<a href="https://twitter.com/hashtag/design?src=hash">#design</a>
			<a href="https://twitter.com/hashtag/papersizes?src=hash">#papersizes</a>
			<a href="https://twitter.com/hashtag/designerproblems?src=hash">#designerproblems</a>
			<a href="https://t.co/buGrmK8Jw3">pic.twitter.com/buGrmK8Jw3</a>
		</p>&mdash; And Purnell (@andpurnell)
		<a href="https://twitter.com/andpurnell/status/881856529183502336">July 3, 2017</a>
	</blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>